* {
    box-sizing: border-box;
    text-decoration: none;
}

*:focus {
    outline: 0 !important;
}

html {
    margin: 0;
    padding: 0;
}

body {                                /* Using display: flex; center the body */
    display: flex;                    /* in the middle of the viewport.*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: black;
    color: white;
}

main {                                 /* flex-direction: column; vertically align */
    flex-direction: column;            /* the elements within the body. */
    width: 385px; 
    background-color: hsl(0, 0%, 8%);
}

.profile {                             /* Using the BEM method for class naming. */ 
    text-align: center;
    margin: 35px auto 10px;
    padding: 0 1.5rem;
    width: 100%;
}

.profile__image {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.profile__name {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.profile__residence {
    font-size: .9rem;
    color: #C4F82A;
}

.profile__description {
    padding-top: 1.2rem;
    margin-bottom: 1.7rem;
    letter-spacing: 1px;
    font-weight: 100;
    color: hsl(0,0%,70%);
}

.profile__links { }           /* Enhance readability. Also for refactoring if needed.*/

a {
    display: block;
}
    
.button {                    
    text-align: center;
    border: none;
    border-radius: 10px;
    width: 92%;
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 20%); 
    font-weight: 700;
    letter-spacing: .7px;
    padding: 18px 0;
    margin-left: .7rem;
    margin-bottom: 1.4rem;
    cursor: pointer;
}

a:hover {
    background-color: #C4F82A;
    color: black;
}




